{%extends 'consult/base.html'%}
{%block body%}
<div class="container my-4">
    <div class="jumbotron">
        <h1 class="display-4">Hospitals</h1>
        <p class="lead"> </p>
        <hr class="my-4">
        <p>Apollo Hospitals Enterprise Limited is an Indian hospital chain based in Chennai, India. It was founded by Dr Prathap C. Reddy in 1983 as the first corporate health care in India. Several of the group's hospitals have been among the first in India to receive international healthcare accreditation by America-based Joint Commission International (JCI).as well as 13 NABH National Accreditation Board for Hospitals & Healthcare Providers hospitals.
            The group has developed services in telemedicine, after starting a pilot project in 2000 at Aragonda, Prathap Reddy's home village.
            Apollo Hospitals in Visakhapatnam
            The organisation signed a ‘memorandum of understanding’ with Health Education England in April 2017 to provide a large number of doctors to fill vacancies in the English National Health Service.
            Apollo Hospital is now started in Kochi in association with Adlux Angamaly to form Apollo Adlux Hospital near Cochin International Airport.
            The organisation is listed on the Bombay Stock Exchange (BSE: 508869) and the National Stock Exchange</p>
        <hr>
        <p>Contact us at: +911147262320</p>
        <p>Customer care: customer@apollo.com</p>
        <p>Our location:</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14736.32067027423!2d88.39190149764964!3d22.576104775787826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027599f3fa4c63%3A0x2a4503113de37315!2sApollo%20Gleneagles%20Hospitals%20Limited!5e0!3m2!1sen!2sin!4v1592473887032!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
{%endblock%}